@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans), sans-serif;
}

html {
  @apply antialiased;
}

body {
  @apply bg-background text-foreground;
}

@layer components {
  *,
  ::before,
  ::after {
    --tw-ring-color: theme("colors.foreground/0.25");
    @apply border-neutral-200;
  }
}

.statement-text {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
